<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Sudhir's Web-Portfolio</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<!-- stylesheet css -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/styles.css">

	
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body data-spy="scroll" data-target=".navbar-collapse">

<!-- preloader section -->
<div class="preloader">
	<div class="sk-spinner sk-spinner-wordpress">
       <span class="sk-inner-circle"></span>
     </div>
</div>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" id="bar">
	<div class="container">
		<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		</button>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right mr-auto">
			 	<li><a class="nav-link" href="#home">Home</a></li>
			  	<li><a class="nav-link" href="#About">About</a></li>
			  	<li><a class="nav-link" href="#projects">My Projects</a></li>
			  	<li><a class="nav-link" href="#contact">Contact</a></li>
			  	<li><a class="nav-link" href="#weather">Weather</a></li>
			</ul>
		</div>
	</div>
</nav>
	

 
 

<!-- header section -->
<header id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<img src="images/image.png" class="img-responsive img-circle tm-border">
				<hr>
				<h1 class="tm-title bold shadow">Sudhir Daga</h1>
				<h1 class="white bold shadow">Full Stack & Android Developer</h1>
			</div>
		</div>
	</div>
</header>

<!-- about and skills section -->
<section class="container" id="About">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="about">
				<h2 class="accent">About Me</h2>
				<p>I am a final year Computer Science & Engineering student at Indian Institute Of Information Technology, Kalyani. My current CGPA is 8.2/10. 
					The field of web and android development has always been my area of interest. Now I am a full stack Web Developer and an Android Developer. 
					I have developed two websites, one is in the field of medical innovation which solves real world problems and other is the guest house 
					management for college's website as college project. I have also received certificate of exellence in Internshalas's App-a-thon where 
					I developed food delivery app like "Zomato". It was Internshala's capstone project.
				</p>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="skills">
				<h2 class="white">Skills</h2>
				<strong>PHP MySQL</strong>
				<span class="pull-right">85%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" 
                        aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
					</div>
				<strong>Android(Kotlin)</strong>
				<span class="pull-right">85%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" 
                        aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
					</div>
				<strong>Javascript Node.js</strong>
				<span class="pull-right">75%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" 
                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
					</div>
				<strong>C/C++</strong>
				<span class="pull-right">85%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" 
						aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
					</div>
				<strong>HTML,CSS & Bootstrap</strong>
				<span class="pull-right">80%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" 
						aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
					</div>
			</div>
		</div>
	</div>
</section>

<!-- education and languages -->
<section class="container">
	<div class="row">
		<div class="col-md-8 col-sm-12">
			<div class="education">
				<h2 class="white">Education</h2>
					<div class="education-content">
						<h4 class="education-title accent">B.Tech in CSE</h4>
							<div class="education-school">
								<h5>Indian Institute Of Information Technology, Kalyani</h5><span></span>
								<h5>2017 July - 2021 July</h5>
							</div>
						<p class="education-description">CGPA : 8.2/10 Till 7th semester</p>
					</div>
					<div class="education-content">
						<h4 class="education-title accent">Higher Secondary</h4>
							<div class="education-school">
								<h5>MCKV School</h5><span></span>
								<h5>ISC Board(Science)</h5>
								<h5>2016</h5><span></span>
							</div>
						<p class="education-description">Percentage : 90.5%</p>
					</div>
					<div class="education-content">
						<h4 class="education-title accent">High School</h4>
							<div class="education-school">
								<h5>Stepping Stone School</h5><span></span>
								<h5>ICSE Board</h5>
								<h5>2014</h5><span></span>
							</div>
						<p class="education-description">Percentage : 87%</p>
					</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-12">
			<div class="course">
				<h2>Course Work</h2>
					<ul>
						<li>Data Structures</li>
						<li>Algorithms</li>
						<li>Database Management System</li>
						<li>Operating Systems</li>
						<li>Computer Organisation And Architechture</li>
						<li>Computer Networks</li>
						<li>Machine Learning</li>
						<li>Artificial Intelligence</li>
						<li>Compiler Design</li>
						<li>Theory Of Computation</li>
					</ul>
			</div>
		</div>
	</div>
</section>

<!-- Projects -->
<section class="container" id="projects">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="projects">
				<h2 class="white">Projects</h2>
					<div class="projects-content">
						<h4 class="projects-title accent">Web Development</h4>
						<h5>Infi-Care</h5><span></span>
						<h5>2020 January - 2020 November</h5>
						<p class="education-description">Wastage of medicine is a gloabal issue. We plan to reduce this wastage by
							reusing, recycling and recirculating the unused medicines. The website also contains the feature of real-time
							availibility of doctors which will help user to find the schedule and contact number of the
							type of doctor they are looking for in any given area. It also contains Forum for hospitals will help hospitals to 
							communicate and help each other in case of emergencies like shortage of some life-saving drugs or unavalibility of rare blood groups.
						</p>
						<p class="education-description"><em>HTML, CSS, Bootstrap, PHP, MySQL, Google Places API, Google Maps API</em></p>
					</div>
					<div class="projects-content">
						<h4 class="projects-title accent">Android Application</h4>
						<h5>Food-Runner</h5><span></span>
						<h5>2020 July - 2020 August</h5>
						<p class="education-description">A Food Delivery Android App with various restaurants and multiple menu items
							in them. Users can mark their favorite restaurants and also track their order
							history. They can also sort restaurants by three parameters: rating, cost(high to
							low), cost(low to high). It also contains login and sign-up features and otp
							verifica on in case of forgot password. It runs only in the presence of active internet connection and all requests are made via API calls.
						</p>
						<p class="education-description"><em>Kotlin,XML,ROOM Database,Volley</em></p>
					</div>
					<div class="projects-content">
						<h4 class="projects-title accent">Machine Learning</h4>
						<h5>Stock Market(Opening Price) Prediction Using Sentiment Analysis</h5><span></span>
						<h5>2019 August - 2019 December</h5>
						<p class="education-description">This project uses daily news headlines from Reddit to predict the movement of
							the Dow Jones Industrial Average. The news from a given day will be used to
							predict the difference in opening price between that day, and the following day.
							Predic on system is developed using deep learning techniques along with glove
							word embeddings to predict the opening price of Dow and Jones(NYSE).
						</p>
						<p class="education-description"><em>Python, keras, Pandas, numpy, scikit-learn, glove Embeddings</em></p>
					</div>
					<div class="projects-content">
						<h4 class="projects-title accent">Web-Development</h4>
						<h5>Guest House Management Sysytem</h5><span></span>
						<h5>2018 September - 2019 August</h5>
						<p class="education-description">College Project for building a guest house management system to accomodate
							guests and faculty.
						</p>
						<p class="education-description"><em>HTML, CSS, Bootstrap, PHP, MySQL</em></p>
					</div>
			</div>
		</div>
	</div>
</section>

<!-- Contact Details And Trainings -->
<section class="container" id="contact">
	<div class="row">
		<div class="col-md-4 col-sm-12">
			<div class="contact">
				<h2>Contact</h2>
					<p><i class="fa fa-map-marker"></i> Kolkata, West Bengal, India</p>
					<p><i class="fa fa-phone"></i> +91-8335940590</p>
					<p><i class="fa fa-envelope"></i> sudhirdaga1998@gmial.com</p>
					<p><i class="fa fa-github"></i> www.github.com/sudzzz</p>
			</div>
		</div>
		<div class="col-md-8 col-sm-12">
			<div class="trainings">
				<h2 class="white">Trainings</h2>
					<div class="trainings-content">
						<ul>
							<li>
								<h4 id="heading" class="trainings-title accent">Web Development Bootcamp</h4>
								<h5>Udemy</h5><span></span>
								<h5>2020</h5>
							</li>
							<li>
								<h4 class="trainings-title accent">Android App Development</h4>
								<h5>Internshala</h5><span></span>
								<h5>2020</h5>
							</li>
						</ul>
					</div>
			</div>
		</div>
	</div>
</section>

<!-- Weather Data & Plotting data -->
<section class="container" id="weather">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="weather">
				<h2>Weather Data</h2>
					<div id="data">
						<h3><%= city %></h3>
						<h4><%= temp %>°C</h4>
						<h4><%= desc %></h4><span></span>
						<img src=<%= img %>>
					</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="plot">
				<h2 class="white plot">Graph on Projects Done</h2>
					<div class="plot" id="graph">
						<script>
							const data = [{
    						values: [50, 25, 25],
    						labels: ['Web-Development', 'Android-Development', 'Machine Learning'],
    						type: 'pie'
  							}];
							var layout = {font: {size: 18}};
							var config = {responsive: true};
							TESTER = document.getElementById('graph');
        					Plotly.newPlot(TESTER, data, layout, config);
						</script>
					</div>
			</div>
		</div>
	</div>
</section>

<!-- footer section -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<p>Copyright &copy; 2021 Sudhir Daga</p>
			</div>
		</div>
	</div>
</footer>

<!-- javascript js -->	
<script src="js/jquery.js"></script>
<script src="index.js"></script>
<script src="js/bootstrap.min.js"></script>	
<script src="js/jquery.backstretch.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>